<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCustomFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyFirst6SwiftApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26188DD91948942F00D773CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26188DEB1948942F00D773CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26188E00194899B900D773CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26188E0A194899B900D773CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2692B72A1983521700613517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2692B7341983521800613517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
