<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBlurryView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyCustomFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>268B43051942EEA900F623F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268B431E1942EEA900F623F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268B4344194513CF00F623F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268B434E194513CF00F623F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
